venv/
__pycache__/

.idea/
/* rasa stuff */
**/rasa/models/
**/rasa/.rasa/
**/rasa/results/

/* data stuff */
src/data
data/
!src/rasa/data/
*.ttl
*.csv
*.json
*.txt

/* fuseki server */ 
run/
*.lock
